<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386019924841-488d6nob2lltp2cda12ojaj1hc5h416l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386019924841-488d6nob2lltp2cda12ojaj1hc5h416l</string>
	<key>API_KEY</key>
	<string>AIzaSyDgnjIKq7SVWQ8qC3FVxldK59j8xgKq0OU</string>
	<key>GCM_SENDER_ID</key>
	<string>386019924841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perekrist.MusicApp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-7eb44</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-7eb44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386019924841:ios:d0b128537c259fdbed3bf8</string>
	<key>DATABASE_URL</key>
	<string>https://musicapp-7eb44.firebaseio.com</string>
</dict>
</plist>